* {
  margin: 0;
  padding: 0;
  box-sizing: content-box; }

.body {
  background: #E9ECF4;
  color: #000;
  font-size: 20px;
  font-family: 'Crimson Pro', serif; }

.wrapper {
  width: 90%;
  margin: 0 auto; }

.widget-1 {
  grid-area: widget-1; }

.widget-1:hover {
  color: #ffa500;
  transform: skewY(20deg);
  animation-delay: 3s; }

.widget-2 {
  grid-area: widget-2; }

.widget-2:hover {
  display: block; }

.footer {
  background: #12203E;
  color: #fff;
  grid-area: footer; }

.logo {
  width: 150px;
  height: 60px;
  padding: 0px;
  margin: 5px; }

.nav-link {
  background-color: #f9975d;
  height: 30px;
  border: solid #89f70b 1px; }
