$color_black: #000;
$color_orange: #ffa500;
$color_white: #fff;
$color_navbar: #f9975d;
$color_navbar_border: #89f70b;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);