@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Oswald:wght@200;400&display=swap');

* {
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

.main-container {
    float: left;
    width: 100%;
    padding: 0 30px;
}