.item__count {
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: center;
}

.item__count p {
  font-size: 18px;
  margin: 10px;
}

.item__count button {
  padding: 6px;
  font-size: 8px;
  margin: 10px;
  border-radius: 25%;
}
